scikit-learn==1.4.0
llama_cpp_python==0.2.52
langchain==0.1.8
langchain-community==0.0.21
langchain-experimental==0.0.52
langchain-chroma
tiktoken==0.7.0
sentence-transformers==2.3.1
numpy==1.26.4
pandas==2.1.4
wikipedia==1.4.0
unstructured==0.14.3
qdrant-client==1.9.1
langchain-chroma==0.1.1
protobuf==3.20.*