scikit-learn==1.4.0
llama_cpp_python==0.2.52
langchain==0.1.8
langchain-community==0.0.21
langchain-experimental==0.0.52
langchain-chroma
tiktoken==0.6.0
sentence-transformers==2.3.1
numpy==1.26.4
pandas==2.1.4
wikipedia
sentence-transformers
unstructured
qdrant-client
langchain_chroma